*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: danaR;
    src: url('../assets/fonts/Dana-Regular.ttf');
  }


body {
   background-color:white;
}

.App {
    font-family: danaR;
   .header {
    color: white;
    background-color: black;
    padding: 4px 24px;
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        .middle-section {
            display: flex;
            gap: 16px;
            font-size: 12px;
        }
        .left-section {
            display: flex;
            gap: 12px;
            flex-direction: row-reverse;
            .header-btn {
                background-color: rgba(255, 255, 255, 0.164);
                padding: 6px 12px;
                border-radius: 6px;
                font-size: 12px;
                align-items: center;
                display: flex;
                gap: 8px;
                img {
                    width: 16px;
                }
            }
            .app-dl-wrapper {
               
            }
        }
    }
   }
}



.services {
    padding: 100px;
    .services-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       gap: 16px;
        .service {
            border: 1px solid rgb(205, 205, 205);
           flex: 0 0 18%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 8px;
        }
        .service:hover {
            border: 1px solid transparent;
            box-shadow: 0 0 0 3px #FFBB53;
            cursor: pointer;
            transform: scale(1.04);
            background-color: #ffba531b;
            z-index: 1;
            transition: all cubic-bezier(0,.71,.54,1.17) .2s;
        }
    }
    }
   